<h2>New Warehouse</h2>

<div class="box tabular">
  <div id="all_attributes">
    <%= form_for @warehouse do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>

        <%= submit_tag l(:button_create) %>
    <% end %>
  </div>
</div>
