<div class="contextual">
  <%= link_to 'new inventory', new_warehouse_inventory_path(@warehouse) %>
</div>

<h2>Warehouse</h2>

<p>
  <%= @warehouse.name %>
</p>
<p>
  <%= @warehouse.location %>
</p>
<div>

</div>
<%%>
